* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #444;
  text-align: center;
}

div.container {
  max-width: 640px;
  min-width: 340px;
  margin: auto;
  padding: 0;
}

div.login-wrapper {
  position: absolute;
  top: 50%;
  left 0;
  width: 100%;
  height: 400px;
  margin-top: -260px;
}

div.login-wrapper h1 {
  font-size: 44px;
}

header.row {
  padding: 40px 0 20px 0;
}

footer.row {
  padding: 60px 0 20px 0;
}

footer, footer a {
  color: #DDD;
}

footer a:hover {
  color: #666;
  text-decoration: none;
}

div.row {
  padding: 10px;
}

div.center {
  margin: auto;
  padding-top: 4px;
  width: 50%;
}

div.extra-padding-top {
  padding-top: 20px;
}

div.extra-padding-bottom {
  padding-bottom: 20px;
}

table {
  width: 100%;
  border: none;
}

.table-hover td {
  cursor: pointer;
}

.scorecard-table thead {
  border-bottom: 1px solid #EEE;
}

.scorecard-table tr {
  height: 38px;
}

.scorecard-table td {
  padding: 8px !important;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.btn {
  min-width: 80px;
}

.date-input {
  max-width: 180px;
  min-width: 134px;
}

.select-input {
  max-width: 180px;
  min-width: 80px;
}

.number-input {
  max-width: 24px;
  min-width: 24px;
  max-height: 20px;
  min-height: 20px;
  text-align: center;
  padding: 0 0 0 2px;
  margin: 0;
  margin-left: 6px;
  border: none;
  border-bottom: 1px solid #BBB;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.course-number-input {
  max-width: 32px;
  min-width: 32px;
  max-height: 20px;
  min-height: 20px;
  text-align: center;
  padding: 0 0 0 2px;
  margin: 0;
  margin-left: 2px;
  border: none;
  border-bottom: 1px solid #BBB;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.wide-number-input {
  min-width: 60px;
  max-width: 80px;
  text-align: right;
}

.text-input {
  max-width: 160px;
  margin: 0 auto;
}

.notes-input {
  max-width: 382px;
  min-height: 60px;
  margin: 0 auto;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-left: 10px !important;
}

.extra-margin-left {
  margin-left: 10px;
}

nav, a {
  min-width: 48px;
  min-height: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
