body {
  height: 100%;
  margin: 40px auto;
  color: #444;
}

div.container {
  max-width: 900px;
  min-width: 340px;
}

header.row {
  padding-bottom: 10px;
}

footer.row {
  padding-top: 20px;
}

div.row {
  padding: 10px;
}

div.center {
  margin: auto;
  padding-top: 4px;
  width: 50%;
}

div.extra-padding-top {
  padding-top: 20px;
}

div.extra-padding-bottom {
  padding-bottom: 20px;
}

table {
  width: 100%;
}

.tr-pad {
  height: 40px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  border: none;
}

.table-hover {
    cursor: pointer;
}

td input[type="checkbox"] {
    float: left;
    width: 100%;
}


.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}


.date-input {
  max-width: 180px;
  min-width: 134px;
}

.number-input {
  max-width: 50px;
  min-width: 40px;
  text-align: right;
}

.text-input {
  max-width: 300px;
}

.notes-input {
  max-width: 300px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.extra-margin-left {
  margin-left: 10px;
}

nav, a {
  min-width: 48px;
  min-height: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
