div.container {
  max-width: 900px;
  min-width: 340px;
}

div.row {
  padding-top: 4px;
  padding-bottom: 4px;
}

nav a button {
  min-width: 48px;
  min-height: 48px;
}

.date-input {
  max-width: 180px;
  min-width: 134px;
}

.number-input {
  max-width: 120px;
  min-width: 50px;
  text-align: right;
}

.text-input {
  max-width: 300px;
}

.notes-input {
  max-width: 300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
