div.container {
  max-width: 900px;
  min-width: 340px;
}

div.row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  border: none;
}

.table-hover {
    cursor: pointer;
}

.align-right {
  text-align: right;
}

nav, a {
  min-width: 48px;
  min-height: 48px;
}

.date-input {
  max-width: 180px;
  min-width: 134px;
}

.number-input {
  max-width: 100px;
  min-width: 40px;
  text-align: right;
}

.text-input {
  max-width: 300px;
}

.notes-input {
  max-width: 300px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

div.center {
  margin: auto;
  padding-top: 4px;
  width: 50%;
}

footer {
  margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
