div.container {
  max-width: 800px;
  min-width: 340px;
}

div.row {
  padding-top: 4px;
  padding-bottom: 4px;
}

nav a button {
  min-width: 48px;
  min-height: 48px;
}

.date-input {
  max-width: 180px;
}

.number-input {
  max-width: 120px;
}

.text-input {
  max-width: 300px;
}
