body {
  max-width: 900px;
  min-width: 340px;
  margin: 40px auto;
  color: #555;
  line-height: 1.6;
}

ul {
  list-style-position: inside;
}

table {
  width: 80%;
}

.tr-hover {
    cursor: pointer;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
