<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- {% if title %}
      {% if title == 'new user' %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
      {% endif %}
    {% endif %} -->

    <title>golf-stats</title>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="col-xs-12">
          {% if title %}
            <h2>{{ title }}</h2>
          {% else %}
            <h2>golf-stats</h2>
          {% endif %}
          <hr />
        </div>
      </header>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="row">
            <div class="col-xs-12">
              <ul>
                {% for message in messages %}
                  <li>
                    {{ message }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

      <footer class="row">
        <div class="col-xs-12">
          <hr />
          <a href="https://github.com/dschmaryl/golf-flask" style="text-decoration: none; color: #BBB;">see this code on github</a>
        </div>
      </footer>
    </div>
  </body>
</html>
