<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>golf-stats</title>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="col-xs-12">
          {% if title %}
            <h2>{{ title }}</h2>
          {% else %}
            <h2>golf-stats</h2>
          {% endif %}
        </div>
      </header>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-unstyled">
                {% for message in messages %}
                  <li>
                    {{ message }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

      <footer class="row">
        <div class="col-xs-12">
          <a href="https://github.com/dschmaryl/golf-flask">see this code on github</a>
          -
          <a href="/react">try new react frontend (a work in progress)</a>
        </div>
      </footer>
    </div>
  </body>
</html>
