{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    {% if courses %}
      {% for course in courses %}
        <div class="row">
          <div class="col-xs-12">
            <a href="{{ url_for('course_view', course_nickname=course.nickname) }}">
              {{ course.name }}
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      no courses to list
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('course_view') }}"><button class="btn btn-default">new course</button></a>
    <a href="{{ url_for('index') }}"><button class="btn btn-default">back to main</button></a>
  </div>
</div>

{% endblock %}
