{% extends "base.html" %}
{% block content %}

<form action="" method="post" name="login">
  <div class="row">
    <div class="col-xs-12">
      {{ form.username(class="form-control text-input", placeholder="name") }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ form.password(class="form-control text-input", placeholder="password") }}
    </div>
  </div>

  <div class="row extra-padding-top">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="sign in" />
      <input class="btn btn-default extra-margin-left" type="submit" name="register" value="register" />
    </div>
  </div>

</form>

{% endblock %}
