{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    {% if rounds %}
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="align-left">date</th>
            <th class="align-left">course</th>
            <th class="align-right">score</th>
            <th class="align-right">putts</th>
            <th class="align-right">girs</th>
            <th class="align-right">hdcp</th>
          </tr>
        </thead>
        <tbody>
          {% for round in rounds %}
            <tr onclick="location.href='{{ url_for('round_view', username=g.user.username, round_id=round.id) }}'">
                <td class="align-left">{{ round.date.strftime('%Y-%m-%d') }}</td>
                <td class="align-left">{{ round.tee.course.name }}</td>
                <td class="align-right">{{ round.total_strokes }}</td>
                <td class="align-right">{{ round.total_putts }}</td>
                <td class="align-right">{{ round.total_gir }}</td>
                <td class="align-right">{{ round.handicap_index }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      no rounds to list
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_view', username=g.user.username) }}"><button class="btn btn-default">new round</button></a>
    <a href="{{ url_for('stats', username=g.user.username) }}"><button class="btn btn-default">back to stats</button></a>
  </div>
</div>

{% endblock %}
