<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />

    {% if title %}
      <title>{{ title }} - golf-stats</title>
    {% else %}
      <title>golf-stats</title>
    {% endif %}
  </head>

  <body>
    <div class="container">

      <div class="row">
        <h1>golf-stats</h1>
      </div>

      <div class="row">
        {% block content %}{% endblock %}
      </div>

      <div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>
                  {{ message }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

    </div>
  </body>
</html>
