<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% if title %}
      <title>{{ title }} - golf-stats</title>
    {% else %}
      <title>golf-stats</title>
    {% endif %}
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h1>golf-stats</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="row">
            <div class="col-xs-12">
              <ul>
                {% for message in messages %}
                  <li>
                    {{ message }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

      <br />

      <div class="row">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>

    </div>
  </body>
</html>
