{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>change password</h3>
  </div>
</div>

<form action="" method="post" name="login">
  {{ form.csrf_token }}
  <div class="row">
    <div class="col-xs-12">
      <h4>old password:</h4>
      <input class="form-control text-input" type="password" name="old_password" value="{{ form.old_password.data if form.old_password.data else '' }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>new password:</h4>
      <input class="form-control text-input" type="password" name="new_password" value="{{ form.new_password.data if form.new_password.data else '' }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>re-enter new password:</h4>
      <input class="form-control text-input" type="password" name="re_password" value="{{ form.re_password.data if form.re_password.data else '' }}" />
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="save" />
      <input class="btn btn-default" type="submit" name="cancel" value="cancel" />
    </div>
  </div>

</form>

{% endblock %}
