{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>edit course</h3>
  </div>
</div>

<form action="" method="post" name="edit_course">

  <div class="row">
    <div class="col-md-12">
      <p>
        nickname: <input type="text" name="nickname" value="{{ course.nickname }}" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        name: <input type="text" name="name" value="{{ course.name }}" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        {% if tees %}
          {% for tee in tees %}
            <a href="{{ url_for('tee_edit', tee_id=tee.id) }}"> {{ tee.color }} </a> |
          {% endfor %}
        {% endif %}
        <a href="{{ url_for('tee_new', course_nickname=course.nickname) }}">add new tees</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <p>
        <input type="submit" value="save" />
      </p>
    </div>
    <div class="col-md-11">
      <p>
      <input type="submit" name='delete' value="delete"  />
      </p>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-md-12">
    <p>
      <a href="{{ url_for('course_list') }}">cancel and go back</a>
    </p>
  </div>
</div>

{% endblock %}
