{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>new course</h3>
  </div>
</div>

<form action="" method="post" name="new_course">

  <div class="row">
    <div class="col-xs-12">
      nickname: <input class="form-control" type="text" name="nickname" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      name: <input class="form-control" type="text" name="name" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn" type="submit" name="add_tees" value="add tees" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn" type="submit" value="save" />
      <input class="btn" type="submit" name="cancel" value="cancel" />
    </div>
  </div>

</form>

{% endblock %}
