{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>{{ title }}</h3>
  </div>
</div>

<form action="" method="post" name="new_course">

  <div class="row">
    <div class="col-xs-12">
      <h4>name:</h4>
      {{ form.name(class="form-control text-input") }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>nickname:</h4>
      {{ form.nickname(class="form-control text-input") }}
    </div>
  </div>

  {% if course %}
    <div class="row">
      <div class="col-xs-12">
        {% if course.tees %}
          {% for tee in course.tees %}
            <a href="{{ url_for('course_tee', course_nickname=course.nickname, tee_id=tee.id) }}"> {{ tee.color }} </a> |
          {% endfor %}
        {% endif %}
        <a href="{{ url_for('course_tee', course_nickname=course.nickname) }}">add new tees</a>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="save" />
      {% if course %}
        <input class="btn btn-default" type="submit" name="delete" value="delete" onclick="return confirm('Delete this course?');return false;" />
        <input class="btn btn-default" type="submit" name="cancel" value="cancel" />
      {% else %}
        <input class="btn btn-default" type="submit" name="cancel" value="cancel" onclick="return confirm('Cancel new course?');return false;" />
      {% endif %}
    </div>
  </div>

</form>

{% endblock %}
