{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>new course</h3>
  </div>
</div>

<form action="" method="post" name="new_course">

  <div class="row">
    <div class="col-md-12">
      <p>
        nickname: <input type="text" name="nickname" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        name: <input type="text" name="name" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <p>
        <input class="btn" type="submit" name="white_tees" value="white tees" />
      </p>
    </div>
    <div class="col-md-1">
      <p>
        <input class="btn" type="submit" name="red_tees" value="red tees" />
      </p>
    </div>
    <div class="col-md-10">
      <p>
        <input class="btn" type="submit" name="blue_tees" value="blue tees" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <input class="btn" type="submit" value="save" />
      </p>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-md-12">
    <p>
      <a href="{{ url_for('course_list') }}">cancel and go back</a>
    </p>
  </div>
</div>

{% endblock %}
