{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>{{ title }}</h3>
  </div>
</div>

<form action="" method="post" name="new_round">

  <div class="row">
    <div class="col-xs-8 col-sm-3">
      <h4>date:</h4>
      {{ form.date(class="form-control date-input", type="date") }}
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4>tee:</h4>
      {{ form.color(class="form-control") }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h4>rating:</h4>
      {{ form.rating(class="form-control number-input") }}
    </div>
    <div class="col-xs-3">
      <h4>slope:</h4>
      {{ form.slope(class="form-control number-input") }}
    </div>
  </div>

  <div class="row extra-padding-top">
    <div class="col-xs-12 col-sm-10 col-md-9">
      <table>
        <thead>
          <tr class="tr-pad">
            <th><h4>hole:</h4></th>
            {% for i in range(1, 10) %}
              <th class="pad align-center"><h4>{{ i }}</h4></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr class="tr-pad">
            <td><h4>par:</h4></td>
            {% for i in range(1, 10) %}
              <td><input class="form-control number-input" type="number" name="{{ 'hole%i_par' % i }}" value="{{ tee.get_hole(i).par if tee else '' }}" /></td>
            {% endfor %}
          </tr>
          <tr class="tr-pad">
            <td><h4>yards:</h4></td>
            {% for i in range(1, 10) %}
              <td><input class="form-control number-input" type="number" name="{{ 'hole%i_yardage' % i }}" value="{{ tee.get_hole(i).yardage if tee else '' }}" /></td>
            {% endfor %}
          </tr>
          <tr class="tr-pad">
            <td><h4>hc:</h4></td>
            {% for i in range(1, 10) %}
              <td><input class="form-control number-input" type="number" name="{{ 'hole%i_handicap' % i }}" value="{{ tee.get_hole(i).handicap if tee else '' }}" /></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row extra-padding-bottom">
    <div class="col-xs-12 col-sm-10 col-md-9">
      <table>
        <thead>
          <tr class="tr-pad">
            <th><h4>hole:</h4></th>
            {% for i in range(10, 19) %}
              <th class="pad align-center"><h4>{{ i }}</h4></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr class="tr-pad">
            <td><h4>par:</h4></td>
            {% for i in range(10, 19) %}
              <td><input class="form-control number-input" type="number" name="{{ 'hole%i_par' % i }}" value="{{ tee.get_hole(i).par if tee else '' }}" /></td>
            {% endfor %}
          </tr>
          <tr class="tr-pad">
            <td><h4>yards:</h4></td>
            {% for i in range(10, 19) %}
              <td><input class="form-control number-input" type="number" name="{{ 'hole%i_yardage' % i }}" value="{{ tee.get_hole(i).yardage if tee else '' }}" /></td>
            {% endfor %}
          </tr>
          <tr class="tr-pad">
            <td><h4>hc:</h4></td>
            {% for i in range(10, 19) %}
              <td><input class="form-control number-input" type="number" name="{{ 'hole%i_handicap' % i }}" value="{{ tee.get_hole(i).handicap if tee else '' }}" /></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="save" />
      {% if tee %}
        <input class="btn btn-default" type="submit" name="delete" value="delete" onclick="return confirm('Delete this tee?');return false;" />
        <input class="btn btn-default" type="submit" name="cancel" value="cancel" />
      {% else %}
        <input class="btn btn-default" type="submit" name="cancel" value="cancel" onclick="return confirm('Cancel tee?');return false;" />
      {% endif %}
    </div>
  </div>

</form>

{% endblock %}
