{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>courses</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if courses %}
      {% for course in courses %}
        <a href="{{ url_for('course_edit', course_nickname=course.nickname) }}">
          {{ course.name }}
        </a>
      {% endfor %}
    {% else %}
      no courses to list
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('course_new') }}">add new course</a> |
    <a href="{{ url_for('index') }}">back to main</a>
  </div>
</div>

{% endblock %}
