{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>hole {{ hole_number }}</h3>
  </div>
</div>

<form action="" method="post" name="new_round">

  <div class="row">
    <div class="col-xs-3 col-sm-2 text-right">
      <h4>strokes:</h4>
    </div>
    <div class="col-xs-4">
      {{ form.strokes(class="form-control number-input", type="number") }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-2 text-right">
      <h4>putts:</h4>
    </div>
    <div class="col-xs-4">
      {{ form.putts(class="form-control number-input", type="number") }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-2 text-right">
      <h4>g.i.r.:</h4>
    </div>
    <div class="col-xs-4">
      <div class="center">
        {{ form.gir(class="checkbox") }}
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="next hole" />
      <input class="btn btn-default" type="submit" name="cancel" value="cancel" onclick="return confirm('Cancel hole?');return false;" />
    </div>
  </div>

</form>

{% endblock %}
