{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>welcome to golf-stats</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if g.user.is_authenticated %}
        <a href="{{ url_for('user', username=g.user.username) }}">my stats</a> |
        <a href="{{ url_for('change_password', username=g.user.username) }}">change password</a> |
        <a href="{{ url_for('logout') }}">logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">login</a>
    {% endif %}
  </div>
</div>

{% endblock %}
