{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>log in</h3>
  </div>
</div>

<form action="" method="post" name="login">

  <div class="row">
    <div class="col-xs-12">
      name: <input class="form-control" type="text" name="username" placeholder="username" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      password: <input class="form-control" type="password" name="password" placeholder="password" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn" type="submit" value="sign in" />
    </div>
  </div>

</form>

{% endblock %}
