{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>log in</h3>
  </div>
</div>

<form action="" method="post" name="login">
  {{ form.csrf_token }}
  <div class="row">
    <div class="col-xs-12">
      <h4>name:</h4>
      {{ form.username(class="form-control text-input") }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>password:</h4>
      {{ form.password(class="form-control text-input") }}
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="sign in" />
    </div>
  </div>

</form>

{% endblock %}
