{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12 col-sm-10">
    {% if rounds %}
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>date</th>
            <th>course</th>
            <th class="align-right">score</th>
            <th class="align-right">putts</th>
            <th class="align-right">gir %</th>
          </tr>
        </thead>

        <tbody>
          {% for round in rounds %}
            <tr onclick="location.href='{{ url_for('round_edit', username=g.user.username, round_id=round.id) }}'">
                <td>{{ round.date.strftime('%-m-%-d-%Y') }}</td>
                <td>{{ round.tee.course.name }}</td>
                <td class="align-right">{{ round.total_score }}</td>
                <td class="align-right">{{ round.total_putts }}</td>
                <td class="align-right">{{ "%.0f" % (round.total_gir / 18 * 100) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      no rounds to list
    {% endif %}
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_new', username=g.user.username) }}"><button class="btn btn-default">new round</button></a>
    <a href="{{ url_for('user', username=g.user.username) }}"><button class="btn btn-default">back to stats</button></a>
  </div>
</div>

{% endblock %}
