{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>rounds</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if rounds %}
      <div class="row">
        {% for heading in ['date', 'course'] %}
          <div class="col-xs-2">
            {{ heading }}
          </div>
        {% endfor %}
        {% for heading in ['score', 'putts'] %}
          <div class="col-xs-1">
            {{ heading }}
          </div>
        {% endfor %}
      </div>
      {% for round in rounds %}
        <div class="row">
          <a href="{{ url_for('round_edit', username=g.user.username, round_id=round.id) }}">
            {% for stat in [round.date.strftime('%Y-%m-%d'), round.tee.course.name] %}
              <div class="col-xs-2">
                {{ stat }}
              </div>
            {% endfor %}
            {% for stat in [round.total_score, round.total_putts] %}
              <div class="col-xs-1">
                {{ stat }}
              </div>
            {% endfor %}
          </a>
        </div>
      {% endfor %}
    {% else %}
      no rounds to list
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_new', username=g.user.username) }}">add new round</a> |
    <a href="{{ url_for('user', username=g.user.username) }}">back to stats</a>
  </div>
</div>

{% endblock %}
