{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>edit round</h3>
  </div>
</div>

<form action="" method="post" name="edit_round">

  <div class="row">
    <div class="col-xs-12">
      <h4>date:</h4>
      <input class="form-control date-input" type="date" name="date" value="{{ round.date.strftime('%Y-%m-%d') }}" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>course:</h4>
      {% for course in courses %}
        <label class="radio-inline">
          <input type="radio" name="course" value="{{ course.nickname }}" /> {{ course.nickname }}
        </label>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>tee:</h4>
      <label class="radio-inline">
        <input type="radio" name="tee_color" value="white" /> white
      </label>
      <label class="radio-inline">
        <input type="radio" name="tee_color" value="red" /> red
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hole</h4>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2">
          <h4>score</h4>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2">
          <h4>putts</h4>
        </div>
      </div>
      {% for score in scores %}
        <div class="row">
          <div class="col-xs-2 col-sm-1">
            {{ score.hole }} :
          </div>
          <div class="col-xs-3 col-sm-3 col-md-2">
            <input class="form-control number-input" type="number" name="{{ '%s_score' % score.hole }}" value="{{ score.score }}" />
          </div>
          <div class="col-xs-3 col-sm-3 col-md-2">
            <input class="form-control number-input" type="number" name="{{ '%s_putts' % score.hole }}" value="{{ score.putts }}" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn" type="submit" value="save" />
      <input class="btn" type="submit" name="delete" value="delete" />
      <input class="btn" type="submit" name="cancel" value="cancel" />
    </div>
  </div>

</form>

{% endblock %}
