{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>{{ title }}</h3>
  </div>
</div>

<form action="" method="post" name="new_round">

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-3">
          <h4>date:</h4>
          {{ form.date(class="form-control date-input", type="date") }}
        </div>
        <div class="col-sm-3">
          <h4>course:</h4>
          {{ form.course(class="form-control") }}
        </div>
        <div class="col-sm-3">
          <h4>tee:</h4>
          {{ form.tee_color(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-6">
      <h4>notes:</h4>
      {{ form.notes(class="form-control notes-input") }}
    </div>
    {% if round %}
      <div class="col-sm-6">
        <h4>round stats:</h4>
        score: {{ round.total_score }}<br />putts: {{ round.total_putts }}<br />handicap: {{  round.handicap_index }}
      </div>
    {% endif %}
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" name="hole_by_hole" value="enter scores hole by hole" />
    </div>
  </div>

  <br />

  <div class="row text-right">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hole:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1 text-center">
              <h4>{{ i }}</h4>
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>score:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_score' % i }}" value="{{ round.get_score_for_hole(i).score if round else '' }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>putts:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_putts' % i }}" value="{{ round.get_score_for_hole(i).putts if round else '' }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>g.i.r.:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_gir' % i }}" value="{{ round.get_score_for_hole(i).gir if round else '' }}" />
            </div>
          {% endfor %}
      </div>
      <br />
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hole:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1 text-center">
              <h4>{{ i }}</h4>
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>score:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_score' % i }}" value="{{ round.get_score_for_hole(i).score if round else '' }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>putts:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_putts' % i }}" value="{{ round.get_score_for_hole(i).putts if round else '' }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>g.i.r.:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_gir' % i }}" value="{{ round.get_score_for_hole(i).gir if round else '' }}" />
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="save" />
      {% if round %}
        <input class="btn btn-default" type="submit" name="delete" value="delete" onclick="return confirm('Delete this round?');return false;" />
      {% endif %}
      <input class="btn btn-default" type="submit" name="cancel" value="cancel" onclick="return confirm('Cancel round?');return false;" />
    </div>
  </div>

</form>

{% endblock %}
