{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>new round</h3>
  </div>
</div>

<form action="" method="post" name="new_round">

  <div class="row">
    <div class="col-md-12">
      <p>
        date: <input type="text" name="date" value="{{ request.form.date }}" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        course: <input type="text" name="course" value="{{ request.form.course }}" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        tee color: <input type="text" name="tee_color" value="{{ request.form.tee_color }}" />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <input type="submit" value="save" />
      </p>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-md-12">
    <p>
      <a href="{{ url_for('user', username=g.user.username) }}">back to stats</a>
    </p>
  </div>
</div>

{% endblock %}
