{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/update-pars.js') }}"></script>
<script src="{{ url_for('static', filename='js/update-totals.js') }}"></script>
<script>
window.onload = function() {
  updatePars = writePars();
  updatePars();
  updateTotals('strokes');
  updateTotals('putts');
};
</script>

<div class="row">
  <div class="col-xs-12">
    <h3>{{ title }}</h3>
  </div>
</div>

<form action="" method="post" name="new_round">

  <div class="row">
    <div class="col-xs-8 col-sm-3">
      <h4>date:</h4>
      {{ form.date(class="form-control date-input", type="date") }}
    </div>

    <div class="col-xs-6 col-sm-3">
      <h4>course:</h4>
      {{ form.course(class="form-control", id="course", onchange="updatePars()") }}
    </div>

    <div class="col-xs-6 col-sm-3">
      <h4>tee:</h4>
      {{ form.tee_color(class="form-control", id="tee_color", onchange="updatePars()") }}
    </div>

  </div>

  <div class="row">
    <div class="col-xs-6">
      <h4>notes:</h4>
      {{ form.notes(class="form-control notes-input") }}
    </div>

    <div class="col-xs-2">
      <h4>totals:</h4>
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>score:</td>
            <td><span id="total_strokes"></span></td>
          </tr>
          <tr>
            <td>putts:</td>
            <td><span id="total_putts"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" name="hole_by_hole" value="enter holes one by one" />
    </div>
  </div>

  <div class="row extra-padding-top">
    <div class="col-xs-12 col-sm-10 col-md-9">
      <table>
        <thead>
          <tr class="tr-pad">
            <th><h4>hole:</h4></th>
            {% for i in range(1, 10) %}
              <th class="pad align-center"><h4>{{ i }}</h4></th>
            {% endfor %}
            <th class="pad align-right"><h4>total</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-pad">
            <td>par:</td>
            {% for i in range(1, 10) %}
              <td class="align-center"><span id="{{ 'hole%i_par' % i }}"></span></td>
            {% endfor %}
          </tr>
          <tr class="tr-pad">
            <td>score:</td>
            {% for i in range(1, 10) %}
              <td>
                <input class="form-control number-input" type="number" name="{{ 'hole%i_strokes' % i }}" id="{{ 'hole%i_strokes' % i }}" value="{{ holes[i - 1].strokes if holes else '' }}" oninput="updateNineHoleTotal('front', 'strokes')" />
              </td>
            {% endfor %}
            <td class="align-right"><div id="total_front_strokes"></div></td>
          </tr>
          <tr class="tr-pad">
            <td>putts:</td>
            {% for i in range(1, 10) %}
              <td>
                <input class="form-control number-input" type="number" name="{{ 'hole%i_putts' % i }}" id="{{ 'hole%i_putts' % i }}" value="{{ holes[i - 1].putts if holes else '' }}" oninput="updateNineHoleTotal('front', 'putts')" />
              </td>
            {% endfor %}
            <td class="align-right"><div id="total_front_putts"></div></td>
          </tr>
          <tr class="tr-pad">
            <td>g.i.r.:</td>
            {% for i in range(1, 10) %}
              <td>
                <input class="checkbox" type="checkbox" name="{{ 'hole%i_gir' % i }}" {{ 'checked' if round and holes[i - 1].gir else '' }} />
              </td>
            {% endfor %}
            <td class="align-right"><div id="total_front_gir"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row extra-padding-bottom">
    <div class="col-xs-12 col-sm-10 col-md-9">
      <table>
        <thead>
          <tr class="tr-pad">
            <th><h4>hole:</h4></th>
            {% for i in range(10, 19) %}
              <th class="pad align-center"><h4>{{ i }}</h4></th>
            {% endfor %}
            <th class="pad align-right"><h4>total</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-pad">
            <td>par:</td>
            {% for i in range(10, 19) %}
              <td class="align-center"><span id="{{ 'hole%i_par' % i }}"></span></td>
            {% endfor %}
          </tr>
          <tr class="tr-pad">
            <td>score:</td>
            {% for i in range(10, 19) %}
              <td>
                <input class="form-control number-input" type="number" name="{{ 'hole%i_strokes' % i }}" id="{{ 'hole%i_strokes' % i }}" value="{{ holes[i - 1].strokes if holes else '' }}" oninput="updateNineHoleTotal('back', 'strokes')" />
              </td>
            {% endfor %}
            <td class="align-right"><div id="total_back_strokes"></div></td>
          </tr>
          <tr class="tr-pad">
            <td>putts:</td>
            {% for i in range(10, 19) %}
              <td>
                <input class="form-control number-input" type="number" name="{{ 'hole%i_putts' % i }}" id="{{ 'hole%i_putts' % i }}" value="{{ holes[i - 1].putts if holes else '' }}" oninput="updateNineHoleTotal('back', 'putts')" />
              </td>
            {% endfor %}
            <td class="align-right"><div id="total_back_putts"></div></td>
          </tr>
          <tr class="tr-pad">
            <td>g.i.r.:</td>
            {% for i in range(10, 19) %}
              <td>
                <input class="checkbox" type="checkbox" name="{{ 'hole%i_gir' % i }}" {{ 'checked' if round and holes[i - 1].gir else '' }} />
              </td>
            {% endfor %}
            <td class="align-right"><div id="total_back_gir"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="save" />
      {% if round %}
        <input class="btn btn-default" type="submit" name="delete" value="delete" onclick="return confirm('Delete this round?');return false;" />
        <input class="btn btn-default" type="submit" name="cancel" value="cancel" />
      {% else %}
        <input class="btn btn-default" type="submit" name="cancel" value="cancel" onclick="return confirm('Cancel round?');return false;" />
      {% endif %}
    </div>
  </div>

</form>

<div id="tees-data" style="display:none;">
  <span id="tees_json">{{ tees_json }}</span>
</div>

{% endblock %}
