{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>rounds</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if rounds %}
      <div class="row">
        <div class="col-xs-4 col-sm-3">
          date
        </div>
        <div class="col-xs-4 col-sm-3">
          course
        </div>
        <div class="col-xs-2 text-right">
          score
        </div>
        <div class="col-xs-2 text-right">
          putts
        </div>
      </div>

      {% for round in rounds %}
        <div class="row">
          <a href="{{ url_for('round_edit', username=g.user.username, round_id=round.id) }}">
            <div class="col-xs-4 col-sm-3">
              {{ round.date.strftime('%-m-%-d-%Y') }}
            </div>
            <div class="col-xs-4 col-sm-3">
              {{ round.tee.course.name }}
            </div>
            <div class="col-xs-2 text-right">
              {{ round.total_score }}
            </div>
            <div class="col-xs-2 text-right">
              {{ round.total_putts }}
            </div>
          </a>
        </div>
      {% endfor %}

    {% else %}
      no rounds to list
    {% endif %}
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_new', username=g.user.username) }}"><button class="btn btn-default">new round</button></a>
    <a href="{{ url_for('user', username=g.user.username) }}"><button class="btn btn-default">back to stats</button></a>
  </div>
</div>

{% endblock %}
