{% extends "base.html" %}
{% block content %}

<div class="row">
  {% if seasons %}
    <div class="col-xs-12 col-sm-8 col-md-6">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>season:</th>
            {% for season in seasons %}
              <th>{{ season }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>handicap:</td>
            {% for season in seasons %}
              <td>{{ user.get_season_rounds(season)[-1].handicap_index }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>scoring average:</td>
            {% for season in seasons %}
              <td>{{ "%.1f" % user.get_average('score', season=season) }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>avg relative to par:</td>
            {% for season in seasons %}
              <td>{{ "%.1f" % user.get_average('score_to_par', season=season) }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>putts per round:</td>
            {% for season in seasons %}
              <td>{{ "%.1f" % user.get_average('putts', season=season) }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>putts per hole:</td>
            {% for season in seasons %}
              <td>{{ "%.2f" % (user.get_average('putts', season=season) / 18) }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>greens per round:</td>
            {% for season in seasons %}
              <td>{{ "%.1f" % user.get_average('gir', season=season) }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>g.i.r. avg %:</td>
            {% for season in seasons %}
              <td>{{ "%.1f" % (user.get_average('gir', season=season) / 18 * 100) }}</td>
            {% endfor %}
          </tr>

          {% for k, v in {'par3': 'par 3 avg:', 'par4': 'par 4 avg:', 'par5': 'par 5 avg:'}.items() %}
            <tr>
              <td>{{ v }}</td>
              {% for season in seasons %}
                {% set avgs = user.get_par_avgs(season) %}
                <td>{{ "%.2f" % avgs[k] }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="row">
      <div class="col-xs-12">
        <h4>no rounds found</h4>
      </div>
    </div>
  {% endif %}
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_new', username=g.user.username) }}"><button class="btn btn-default">new round</button></a>
    <a href="{{ url_for('round_list', username=g.user.username) }}"><button class="btn btn-default">old rounds</button></a>
    <a href="{{ url_for('index') }}"><button class="btn btn-default">back to main</button></a>
  </div>
</div>

{% endblock %}
