{% extends "base.html" %}
{% block content %}

{% if user.get_rounds() %}
  {% set latest_round = user.get_latest_round() %}
  <div class="row">
    <div class="col-xs-12">
      <h3>stats as of {{ user.get_latest_round().date.strftime('%-m-%-d-%Y') }}:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-5">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>handicap:</td>
            <td>{{ user.get_handicap(latest_round.id) }}</td>
          </tr>
          <tr>
            <td>scoring average:</td>
            <td>{{ "%.1f" % user.get_average('score') }}</td>
          </tr>
          <tr>
            <td>avg relative to par:</td>
            <td>{{ "%.1f" % user.get_average('score_to_par') }}</td>
          </tr>

          {% set avg_putts = user.get_average('putts') %}
          <tr>
            <td>putts per round:</td>
            <td>{{ "%.1f" % avg_putts }}</td>
          </tr>
          <tr>
            <td>putts per hole:</td>
            <td>{{ "%.2f" % (avg_putts / 18) }}</td>
          </tr>

          {% set avg_gir = user.get_average('gir') %}
          <tr>
            <td>greens per round:</td>
            <td>{{ "%.1f" % avg_gir }}</td>
          </tr>
          <tr>
            <td>g.i.r. avg %:</td>
            <td>{{ "%.1f" % (avg_gir / 18 * 100) }}</td>
          </tr>

          {% set avgs = user.get_par_avgs(latest_round) %}
          {% for k, v in {'par3': 'par 3 avg:', 'par4': 'par 4 avg:', 'par5': 'par 5 avg:'}.items() %}
            <tr>
              <td>{{ v }}</td>
              <td>{{ "%.2f" % avgs[k] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-xs-12">
      <h4>no rounds found</h4>
    </div>
  </div>
{% endif %}

<br />

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_new', username=g.user.username) }}"><button class="btn btn-default">new round</button></a>
    <a href="{{ url_for('round_list', username=g.user.username) }}"><button class="btn btn-default">old rounds</button></a>
    <a href="{{ url_for('index') }}"><button class="btn btn-default">back to main</button></a>
  </div>
</div>

{% endblock %}
