{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h3>{{ tee.color }} tees at {{ tee.course.nickname }}</h3>
  </div>
</div>

<form action="" method="post" name="new_round">

  <div class="row">
    <div class="col-sm-3">
      <h4>date:</h4>
      <input class="form-control date-input" type="date" name="date" value="{{ tee.date.strftime('%Y-%m-%d') }}" />
    </div>
    <div class="col-sm-3">
      <h4>tee:</h4>
      {% for color in ['white', 'red', 'blue'] %}
        <label class="radio-inline">
          <input type="radio" name="tee_color" value="{{ color }}" {{ 'checked' if color == tee.color }} /> {{ color }}
        </label>
      {% endfor %}
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-3">
      <h4>rating:</h4>
      <input class="form-control number-input" type="number" name="rating" value="{{ '%.2f' % tee.rating }}" />
    </div>
    <div class="col-xs-3">
      <h4>slope:</h4>
      <input class="form-control number-input" type="number" name="slope" value="{{ tee.slope }}"/>
    </div>
  </div>

  <br />

  <div class="row text-right">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hole:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1 text-center">
              <h4>{{ i }}</h4>
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>par:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_par' % i }}" value="{{ tee.get_hole(i).par }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>yards:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_yardage' % i }}" value="{{ tee.get_hole(i).yardage }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hc:</h4>
        </div>
          {% for i in range(1, 10) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_handicap' % i }}" value="{{ tee.get_hole(i).handicap }}" />
            </div>
          {% endfor %}
      </div>
      <br />
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hole:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1 text-center">
              <h4>{{ i }}</h4>
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>par:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_par' % i }}" value="{{ tee.get_hole(i).par }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>yards:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_yardage' % i }}" value="{{ tee.get_hole(i).yardage }}" />
            </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <h4>hc:</h4>
        </div>
          {% for i in range(10, 19) %}
            <div class="col-xs-1">
              <input class="form-control number-input" type="number" name="{{ 'hole%i_handicap' % i }}" value="{{ tee.get_hole(i).handicap }}" />
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12">
      <input class="btn" type="submit" value="save" />
      <input class="btn" type="submit" name="delete" value="delete" />
      <input class="btn" type="submit" name="cancel" value="cancel" />
    </div>
  </div>

</form>

{% endblock %}
