{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>stats for {{ user.username }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>handicap: {{ user.get_handicap(user.rounds.all()[-1].id) }}</h4>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="{{ url_for('round_new', username=g.user.username) }}">add new round</a> |
      <a href="{{ url_for('round_list', username=g.user.username) }}">previous rounds</a>
    </p>
  </div>
</div>

{% endblock %}
