{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>stats as of {{ user.get_latest_round().date.strftime('%-m-%-d-%Y') }}</h3>
  </div>
</div>

{% if user.get_rounds() %}
  {% set latest_round = user.get_latest_round() %}

  <div class="row">
    <div class="col-xs-10 col-sm-8 col-md-4">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td><h4>handicap:</h4></td>
            <td><h4>{{ user.get_handicap(latest_round.id) }}</h4></td>
          </tr>
          <tr>
            <td><h4>scoring avg:</h4></td>
            <td><h4>{{ "%.1f" % user.get_mavg_score(latest_round) }}</h4></td>
          </tr>
          <tr>
            <td><h4>avg score to par:</h4></td>
            <td><h4>{{ "%.1f" % user.get_mavg_score_to_par(latest_round) }}</h4></td>
          </tr>
          <tr>
            <td><h4>putts per round:</h4></td>
            <td><h4>{{ "%.1f" % user.get_mavg_putts(latest_round) }}</h4></td>
          </tr>
          <tr>
            <td><h4>putts per hole:</h4></td>
            <td><h4>{{ "%.2f" % (user.get_mavg_putts(latest_round) / 18) }}</h4></td>
          </tr>
          <tr>
            <td><h4>g.i.r. avg %:</h4></td>
            <td><h4>{{ "%.1f" % (user.get_mavg_gir(latest_round) / 18 * 100) }}</h4></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% else %}

  <div class="row">
    <div class="col-xs-12">
      no rounds found
    </div>
  </div>

{% endif %}

<br />

<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('round_new', username=g.user.username) }}"><button class="btn btn-default">new round</button></a>
    <a href="{{ url_for('round_list', username=g.user.username) }}"><button class="btn btn-default">old rounds</button></a>
    <a href="{{ url_for('index') }}"><button class="btn btn-default">back to main</button></a>
  </div>
</div>

{% endblock %}
